.consultation {
    min-height: 680px;
    background: url("../img/bg-consultation.jpg") center (center/cover) no-repeat;
    padding: 100px 0;
    &__descr {
        color: #fff;
        max-width: 425px;
        font-size: 20px;
        font-weight: 500;
    }
}